@model IEnumerable<sistemaLibros.Models.Prestamo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Prestamos</h1>

<p class="text-center">
    <a class="btn btn-primary" asp-action="Create">Crear prestamo</a>
</p>
<table class="table table-dark table-striped text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fechainicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fechafin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdlibroNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IduserNavigation)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fechainicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fechafin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdlibroNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IduserNavigation.IdCli)
            </td>
            <td>
                <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
